.option-list label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--montserrat);
  margin-bottom: 8px;
}

.option-list select {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--montserrat);
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  outline-color: var(--color-principal1);
}
