.input {
  margin: 24px 0;
  font-family: var(--montserrat);
}

.input label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  font-family: var(--montserrat);
}

.input input {
  width: 100%;
  border: none;
  padding: 15px 20px;
  outline-color: var(--color-principal1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: var(--montserrat);
  height: 40px;
  padding: 5px 20px;
  border-radius: 10px;
}

/* .input-color input {
  height: 40px;
  padding: 5px 20px;
} */
